<template>
    <div class="slds-grid slds-wrap">
         <div class="slds-col slds-size_12-of-12 slds-text-align_center">
             <img src={selectedVariant.selectedimage} alt="hero image"/>
         </div>
         <div class="slds-col slds-size_12-of-12 slds-large-size_4-of-12 slds-text-align_center">
             <div class="slds-text-heading_large"><strong>{selectedVariant.engineType}</strong></div>
             <div class="slds-text-heading_medium">Engine Type</div>
         </div>
         <div class="slds-col slds-size_12-of-12 slds-large-size_4-of-12 slds-text-align_center">
             <div class="slds-text-heading_large"><strong>{selectedVariant.maxTorque}</strong></div>
             <div class="slds-text-heading_medium">Max. Torque</div>
         </div>
         <div class="slds-col slds-size_12-of-12 slds-large-size_4-of-12 slds-text-align_center">
             <div class="slds-text-heading_large"><strong>{selectedVariant.displacement}</strong></div>
             <div class="slds-text-heading_medium">Displacement</div>
         </div>
 
    </div>
 </template>